.header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.left-header {
  margin-left: 2.5rem;
}

.icon {
  height: 3rem;
}

.middle-header {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.middle-header a {
  color: grey;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 10px;
}

.middle-header a:hover {
  transition: 0.2s;
  background-color: rgb(238, 238, 238);
}

.right-header {
  margin-right: 2.5rem;
}

.download-button {
  background-color: #04ddb2;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

.download-button:hover {
  transition: 0.2s;
  background-color: #03cca4;
}